# Python/ML
__pycache__/
*.pyc
.env
ml_pipeline/checkpoints/
ml_pipeline/data/
venv/
.venv/
.ipynb_checkpoints/
ml_pipeline/models/smart-dispatch-minilm-v1/
ml_pipeline/models/onnx/*.onnx

# Node/Extension
node_modules/

# OS Files
.DS_Store
Thumbs.db